/* style.css */
body {
    font-family: Arial, sans-serif;
}

.display-4 {
    font-size: 2rem;
}

.container {
    text-align: center;
}

.form-control-file, .form-control {
    font-size: 0.9rem;
    padding: 0.75rem;
}

#progress-bar {
    height: 20px;
    margin-top: 10px;
}

.status {
    margin-top: 15px;
    font-size: 1rem;
}

.interpretation img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn {
    font-weight: 600;
}
